.sredina
  #about_jumbotron.jumbotron.center{:align => "center"}
    Alpha-Blog is an application designed to help explaining Rails
    on Ruby. This blog was created by Aleksandar Kalabic
    You can find me on
    =link_to 'Github:akalabic14', "https://github.com/akalabic14", {:target => "_blank"}
