<html>
  
  <body style = "background-color:gray">
    <heading>
    <h1 align = "center">About</h1>
    </heading>
    <table border = 1 width = 90% height = 90% align = "center" b style = "background-color:lightgray">
      <tr width = 100$ height = 50>
        <td align = "center"><%= link_to 'Home', root_path %></td>
        <td align = "center"style = "background-color:darkgray"><%= link_to 'About', about_path %></td>
        <td align = "center">Some</td>
        <td align = "center">Some</td>
        <td align = "center">Some</td>
      </tr>
      </table>
      <br>
      <br>
      <table align = "center" width = 50% height = 300 style = "background-color:lightgray">
      <tr>
        <td>
          <ul>
              <li>Name : Aleksandar Kalabic</li>
              <li>Age : 21</li>
              <li>Status : Student</li>
              <li>College : Racunarski Fakultet Beograd</li>
              <li>Year : 2</li>
          </ul>
        </td>
      </tr>
      </table>
    
  
    <h2 align = "center">
      <%= link_to 'Go back to Homepage', root_path %>
    </h2>
  </body>
  
</html>