$navbar-default-bg: #959595;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing:-1px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.sredina{
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigaciona-dugmad li a{
  color:#fff;
  font-weight: bold;
  letter-spacing:1px;
}

#padajuca-lista li a{
  color:#959595;
}

.center{
  text-align:center;
}

.jumbotron {
background-image: asset-url('ljudi.jpg');
background-size: cover;
height: 450px;
}

.jumbotron h1 {
color: #fff;
text-align: center;
margin-bottom: 30px;
letter-spacing: -1px;
font-weight: bold;
}

.btn-default {
background-color: #959595;
color:#fff;
}
.btn-xlarge {
font-size: 1.7em;
font-weight: bold;
background-color: #000;
color:#fff;
}

.btn-xlarge:hover {
background-color: #959595;
color: #fff;
}
.article-actions {
padding-top: 20px;
margin-top: 15px;
margin-bottom: -15px;
text-align: center;
}

.article-title {
margin-top: -5px;
font-weight: bold;
font-size: 1.8em;
text-align: center;
}

.article-title a {
color: #959595;
}

.article-title a:hover {
text-decoration: none;
}

.article-body {
text-align: center;
border-top: 1px solid #959595;
padding-top: 10px;
padding-bottom: 15px;
}

.article-meta-details {
border-top: 1px solid #959595;
margin-top: 15px;
}

.listing {
list-style: none;
padding-left: 0;
margin-top:15px;
}

.listing ul li {
margin-top:10px;
}

.badge {
background-color: #959595;
letter-spacing: 1px;
font-weight: bold;
}

.badge a{
  color:#fff;
}

.input_checkbox input {
width: auto !important;
}

footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid #959595;
color: black;
background-color: #959595;
}

footer a {
color: black;
}

footer a:hover {
color: black;
}

footer small {
float: left;
}

footer ul {
float: right;
list-style: none;
}

footer ul li {
float: left;
margin-left: 15px;
}